html {
    background-color: #37383c;
    color: #efdab9;
    font-family: cursive;
}

header {
    padding: 20px 4% 10px;
    position: fixed;
    top: 10px;
    width: 87%;
    background-color: #584b4f;
    display: flex;
    align-items: center;
    border-radius: 30px;
    font-family: cursive;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #ffd152;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
}

li {
    margin: 0 0 0 10px;
    font-size: 15px;
}

body {
    margin-top: 150px;
}

p {
    text-align: center;
    animation-name: fadeUpAnime;/*アニメーションの定義名*/
    animation-duration:1s;/*アニメーション変化時間 ※デフォルト*/
    animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
    opacity:0;
}

.main {
    color: red;
    font-size: 20px;
}

@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}