<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/donate_mobile.css" media="screen and (max-width:480px)">
        <link rel="stylesheet" href="static/css/donate.css" media="screen and (min-width:1024px)">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>寄付 - Tiramisù</title>
    </head>
    <header>
        <h1>
            <a href="/">Tiramisù</a>
        </h1>
        <nav class="pc-nav">
            <ul>
                <li><a href="/usage">使い方</a></li>
                <li><a href="/">ホーム</a></li>
            </ul>
        </nav>
    </header>

    <body>
        <p>本サイトは非営利で公開しております。</p>
        <p>しかしながら、本サイトの維持のためにサーバー費用を捻出しなければなりません。</p>
        <p>さらに現在、開発者では捻出しづらい額に達しており、どうしても寄付を募らなければならなくなりました。</p>
        <p>そこで、皆様の中で寄付をして頂ける方がいらっしゃいましたら、</p>
        <p>ご連絡頂けると幸いです。</p>
        <p class="main">※もし集まらなかった場合は残念ながらこのサイトは閉鎖させていただきます。</p>
        <p>厚かましいお願いではございますが、何卒宜しくお願い致します。</p>
        <p></p>
        <p>メールアドレス：<a href="mailto:tiramisutools@gmail.com">tiramisutools@gmail.com</a></p>
    </body>
</html>