<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/usage_mobile.css" media="screen and (max-width:480px)">
        <link rel="stylesheet" href="static/css/usage.css" media="screen and (min-width:1024px)">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>使い方 - Tiramisù</title>
    </head>
    <header>
        <h1>
            <a href="/">Tiramisù</a>
        </h1>
        <nav class="pc-nav">
            <ul>
                <li><a href="/">ホーム</a></li>
                <li><a href="/donate">寄付のお願い</a></li>
            </ul>
        </nav>
    </header>

    <body>
        <h2>絶対にLINEやInstagramの簡易ブラウザで開かないでください</h2>
        <p>ステップ1: <a href="https://shichojp.com">ShichoJP</a>から動画のURLをコピー</p>
        <p><b>※この際に話数やサーバーを選択しないでください!!</b></p>
        <img src="static/images/url_page.png">
        <p></p>
        <p>ステップ2: コピーしたURLを貼り付け</p>
        <p>ステップ3: 適当なファイル名を決める!!!</p>
        <p>ステップ4: 第何話を見るか半角で入力</p>
        <p>ステップ5: サーバーの番号を入力(通常は7か9)</p>
        <p>ステップ6: Downloadをクリックしてしばらく待つ (結構長い)</p>
        <p class="warning">ステップ7: 最後に、ご自身の端末に<b>完全に</b>ダウンロードが終了したらオレンジ色のボタンを必ずクリック!!</p>
        <p class="information">※何らかのエラーがでた場合サーバー番号を変更して下さい</p>
        <img src="static/images/tiramisu.png">
    </body>
</html>